.tableWrapper {
  background-color: var(--color-card);
  border: solid .2rem var(--color-title);
  border-radius: .4rem;
  height: fit-content;
  padding: 1rem 0 0 0;
}

.table {
  border-top: solid .2rem var(--color-title);
  color: var(--color-title);
  font-family: var(--font-default);
  font-size: 1.3rem;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

.table table {
  text-align: end;
  width: 100%;
}

.table td {
  padding: .4rem;
}

.table tfoot tr {
  border-top: solid .2rem var(--color-title);
  padding: .4rem;
}

@media screen and (min-width: 360px) {
  .tableWrapper {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .tableWrapper {
    width: 21rem;
  }
}

@media screen and (min-width: 1280px) {
  .tableWrapper {
    width: fit-content;
  }
}