.titleMain, .titleCard {
  align-items: center;
  display: flex;
  color: var(--color-title);
  justify-content: center;
  font-family: "Open Sans", serif;
  font-weight: 700;
}

.titleMain {
  font-size: 6rem;
}

.titleCard {
  font-size: 2rem;
}