html {
  background-color: var(--color-background);
}

.checkbox {
  appearance: none;
  background-clip: content-box;
  background-color: transparent;
  border: solid .3rem var(--color-title);
  border-radius: .3rem;
  display: grid;
  grid-area: caixa;
  height: 2rem;
  justify-self: end;
  place-content: center;
  width: 2rem;
}

.checkbox:checked {
  background-color: var(--color-background-selected);
  border-radius: .3rem;
}

.checkbox::after {
  content: "✓";
  color: var(--color-title);
  display: none;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 900;
}

.checkbox:checked::after {
  display: block;
}