:root {
  --color-background: #FF8EBF;
  --color-title: #FFBDD9;
  --color-card: #FF9EC8;
  --color-background-selected: #FF6CAC;
  --color-hover-shadow: #5a002770;
  --color-placeholder-text: #FF8CBE;
}

:root[data-theme="dark"] {
  --color-background: #6a2945;
  --color-title: #a93165;
  --color-card: #7c3352;
  --color-background-selected: #e46ea2;
  --color-hover-shadow: #570e2d70;
  --color-placeholder-text: #FF8CBE;
}