.card {
  border: solid 3px var(--color-title);
  border-radius: .5rem;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 10px var(--color-hover-shadow);
}

.cardImage {
  border-bottom: solid .3rem var(--color-title);
  height: 9rem;
  overflow: hidden;
  position: relative;
  width: 16rem;
}

.cardImage img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cardDescription {
  align-items: center;
  background-color: var(--color-card);
  bottom: 0px;
  color: #fff;
  display: flex;
  font-family: var(--font-default);
  height: 9rem;
  justify-content: center;
  position: absolute;
  right: 16.1rem;
  width: 16rem;
}

.cardDescription p {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  padding: 2px;
  text-align: center;
  max-width: 100%;
}

@keyframes slide-desc {
  0% {
    right: 16.1rem;
  }

  15% {
    right: 16.1rem;
  }

  25% {
    right: 0;
  }

  50% {
    right: 0;
  }

  60% {
    right: 0;
  }

  70% {
    right: 0;
  }

  100% {
    right: 16.1rem;
  }
}

@keyframes slide-img {
  0% {
    right: 0;
  }

  15% {
    right: 0;
  }

  25% {
    right: -16.1rem;
  }

  50% {
    right: -16.1rem;
  }

  60% {
    right: -16.1rem;
  }

  70% {
    right: -16.1rem;
  }

  100% {
    right: 0;
  }
}

.cardInfo {
  align-items: center;
  background-color: var(--color-card);
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "titulo ."
    "preco caixa";
  height: 5rem;
  padding: 1.2rem;
}

.cardInfo p {
  color: var(--color-background-selected);
  font-family: var(--font-default), serif;
  font-size: 1.4rem;
}

.cardInfo:first-child {
  grid-area: titulo;
}

.cardInfo p+p {
  grid-area: preco;
}

.cardInfo input {
  appearance: none;
  background-clip: content-box;
  background-color: transparent;
  border: solid .3rem var(--color-title);
  border-radius: .3rem;
  display: grid;
  grid-area: caixa;
  height: 2rem;
  justify-self: end;
  place-content: center;
  width: 2rem;
}

.cardInfo input:checked {
  background-color: var(--color-background-selected);
  border-radius: .3rem;
}

.cardInfo input::after {
  content: "✓";
  color: var(--color-title);
  display: none;
  font-family: var(--font-default);
  font-size: 1.3rem;
  font-weight: 900;
}

.cardInfo input:checked::after {
  display: block;
}

@media screen and (min-width: 360px) {
  .cardDescription {
    animation-name: slide-desc;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  .cardImage img {
    animation-name: slide-img;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
}

@media screen and (min-width: 1280px) {
  .cardDescription {
    animation: none;
  }

  .cardImage img {
    animation: none;
  }

  .card:hover .cardImage img {
    animation-name: slide-img;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  .card:hover .cardDescription {
    animation-name: slide-desc;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
}