.form {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  grid-template-rows: auto;
  gap: 5rem;
}

.products {
  display: flex;
  flex-basis: initial;
  flex-wrap: wrap;
  gap: 5rem;
  grid-column: 1;
  grid-row: 1;
  justify-content: flex-start;
  width: 70%;
  max-width: 1920px;
}

.button {
  align-items: center;
  background-color: transparent;
  border: solid 3px var(--color-title);
  border-radius: .5rem;
  color: var(--color-title);
  display: flex;
  font-family: "Open Sans";
  font-size: 1.7rem;
  grid-column: 1;
  grid-row: 2;
  height: 4rem;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  text-decoration: none;
  transition: all .1s ease-in-out;
  width: 12rem;
}

.button:hover {
  background-color: var(--color-background-selected);
}