.form {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  grid-template-rows: auto;
  gap: 5rem;
}

.products {
  display: flex;
  flex-basis: initial;
  flex-wrap: wrap;
  gap: 5rem;
  grid-column: 1;
  grid-row: 1;
  justify-content: flex-start;
  width: 70%;
  max-width: 1920px;
}