.form {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  grid-template-rows: auto;
  gap: 5rem;
}

.products {
  display: grid;
  gap: 5rem;
  grid-column: 1;
  grid-row: 1;
  width: 70%;
}

@media screen and (min-width: 0) {
  .products {
    grid-auto-flow: row;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .products {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 1920px) {
  .products {
    grid-template-columns: repeat(4, auto);
  }
}